@model WebProject.Models.User

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-[40px] mb-[15px]">Edit User</h1>

<hr />
<div class="">
    <div class="w-[500px] py-[20px]">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div >
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="w-full border-1 py-[10px] rounded-[10px] px-[10px]" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mt-[10px]">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="w-full border-1 py-[10px] rounded-[10px] px-[10px]" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="mt-[10px]">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="w-full border-1 py-[10px] rounded-[10px] px-[10px]" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="mt-[10px]">
                <input type="submit" value="Save" class="bg-black text-white px-[20px] py-[5px] rounded-[5px] text-[20px] mt-[20px]" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
